/** Project: Gseok
 *  Description: 
 *
 *  @creator       Thinkin' Tags v0.2 alpha
 *  @framework     YAML v4.02
 *  @file          navigation.css
 */

@media all {

	.ym-hlist {
		background: #222;
		line-height: 1em;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.ym-hlist ul {
		display: inline;
		float: left;
		margin: 0;
		padding: 0.5em 1.5em;
	}

	.ym-hlist ul li {
		display: inline;
		float: left;
		font-size: 1.0em;
		line-height: 1em;
		list-style-type: none;
		margin: 0 .25em 0 0;
		padding: 0;
	}

	.ym-hlist ul li a,
	.ym-hlist ul li strong {
		background: transparent;
		color: #aaa;
		display: block;
		font-size: 1em;
		font-weight: normal;
		line-height: 2em;
		padding: 0 0.5em;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		width: auto;
	}

	.ym-hlist ul li a:focus,
	.ym-hlist ul li a:hover,
	.ym-hlist ul li a:active {
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		background: rgba(255,255,255,.25);
		border-radius: 0.2em;
		color: #ccc;
		outline: 0 none;
		text-decoration: none;
	}

	.ym-hlist ul li.active {
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		background: rgba(255,255,255,.3);
		border-radius: 0.2em;
		color: #fff;
	}

	.ym-hlist ul li.active strong,
	.ym-hlist ul li.active a:focus,
	.ym-hlist ul li.active a:hover,
	.ym-hlist ul li.active a:active {
		background: transparent;
		color: #fff;
		text-decoration: none;
	}

	.ym-searchform {
		display: inline;
		float: right;
		line-height: 2em;
		padding: 0.5em 1.5em;
	}

	.ym-searchform .ym-searchfield {
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		background: #fff;
		border: solid 1px rgba(255,255,255,.1);
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		line-height: 1em;
		outline: none;
		padding: 0.25em;
		width: 12em;
	}

	.ym-searchform .ym-searchbutton {
		-moz-border-radius: .2em;
		-webkit-border-radius: .2em;
		background: rgba(255,255,255,.2);
		border: solid 1px transparent;
		border-radius: .2em;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		line-height: 1.3571em;
		padding: 0.25em;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}

}

