/** Project: Gseok
 *  Description: 
 *
 *  @creator       Thinkin' Tags v0.2 alpha
 *  @framework     YAML v4.02
 *  @file          screen.css
 */

@media screen, projection {

	body {
		overflow-y: scroll;
	}

	.ym-wrapper {
		margin: 0 auto;
		max-width: 80em;
	}

	.ym-wbox {
		padding: 1.5em;
	}

	body > header,
	body > nav,
	body > #main,
	body > footer {
		min-width: 760px;
	}

	header {
		background: #444;
		color: #ccc;
	}

	header h1 {
		background: transparent;
		color: #fff;
	}

	nav {
		background: #222222;
	}

	#main .info {
		margin-bottom: 1.5em;
	}

	footer {
		background: #eee;
		color: #444;
	}

	footer p {
		margin: 0;
	}

	header .ym-wbox,
	footer .ym-wbox {
		padding: 1.5em;
	}

	.ym-gbox {
		padding: 0 1.5em;
	}

	.ym-gbox-left {
		padding: 0 1.5em 0 0;
	}

	.ym-gbox-right {
		padding: 0 0 0 1.5em;
	}

	section.box {
		padding: 0 1.5em 1.5em 1.5em;
	}

	#main aside .ym-gbox-right {
		border-left: 1px #ddd solid;
	}

	.ym-skiplinks a.ym-skip:focus,
	.ym-skiplinks a.ym-skip:active {
		background: #333;
		border-bottom: 1px #000 solid;
		color: #fff;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
	}

}

