<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
  <script src="{{ site.url }}/assets/js/vendor/html5shiv.min.js"></script>
  <script src="{{ site.url }}/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

{% if site.mathjax == true %}
<!-- MathJax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<!-- react -->
<script src="{{ site.url }}/assets/js/vendor/react.min.js"></script>
<script src="{{ site.url }}/assets/js/vendor/react-dom.min.js"></script>

<!-- babel, babel-core -->
<script src="{{ site.url }}/assets/js/vendor/babel.min.js"></script>
