/** Project: Gseok
 *  Description: 
 *
 *  @creator       Thinkin' Tags v0.2 alpha
 *  @framework     YAML v4.02
 *  @file          iehacks.css
 */

/* Layout independent adjustments | Layout-unabhängige Anpassungen  */
@import url(../../yaml/core/iehacks.css);

/* Layout dependent adjustments | Layout-abhängige Anpassungen */
@media all {

	body {
		height: 1%;
		o\verflow: visible;
	}

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	nav,
	section {
		zoom: 1;
	}

	audio,
	canvas,
	video {
		*display: inline;
		*zoom: 1;
	}

	img {
		-ms-interpolation-mode: bicubic;
		zoom: 1;
	}

	* html iframe,
	* html frame {
		overflow: auto;
	}

	* html input,
	* html frameset {
		overflow: hidden;
	}

	* html textarea {
		overflow: scroll;
		overflow-x: hidden;
	}

	body,
	#main {
		position: relative;
	}

	* html body {
		position: static;
	}

	.ym-clearfix {
		zoom: 1;
	}

	* html .ym-col1,
	* html .ym-col2,
	* html .ym-col3 {
		position: relative;
	}

	.ym-wrapper,
	.ym-wbox,
	#header,
	#nav,
	#main,
	#footer {
		zoom: 1;
	}

	* html .ym-wrapper,
	* html .ym-wbox {
		hei\ght: auto;
		height: 1%;
	}

	* html #header,
	* html #nav,
	* html #main,
	* html #footer {
		wid\th: auto;
		width: 100%;
	}

	.ym-gbox,
	.ym-gbox-left,
	.ym-gbox-right {
		height: 1%;
	}

	* html ul,
	* html ol,
	* html dl {
		position: relative;
	}

	body ol li {
		display: list-item;
	}

	* html .flexible {
		zoom: 1;
	}

	button,
	input {
		*overflow: visible;
	}

	table button,
	table input {
		*overflow: auto;
	}

	fieldset,
	legend {
		position: relative;
	}

	.ym-form,
	.ym-form div,
	.ym-form div * {
		zoom: 1;
	}

	html .ym-ie-clearing {
		\clear: both;
		display: block;
		font-size: 0px;
		line-height: 0;
		margin: -2px 0 -1em 1px;
		position: static;
		width: 100%;
	}

	* html .ym-ie-clearing {
		margin: -2px 0 -1em 0;
	}

	.ym-cbox {
		margin-bottom: -2px;
	}

	html {
		margin-right: 1px;
	}

	* html {
		margin-right: 0;
	}

	.ym-col3 {
		position: relative;
	}

}

@media screen, projection {

	.ym-col1,
	.ym-col2 {
		display: inline;
	}

	.ym-grid {
		display: block;
		overflow: hidden;
	}

	* html .ym-grid {
		overflow: visible;
	}

	.ym-gl,
	.ym-gr {
		display: inline;
	}

	.ym-equalize .ym-gl {
		display: inline;
		float: left;
		margin-bottom: -32767px;
		padding-bottom: 32767px;
	}

	.ym-equalize .ym-gr {
		display: inline;
		float: right;
		margin-bottom: -32767px;
		margin-left: -5px;
		padding-bottom: 32767px;
	}

	.no-ie-padding .ym-gl,
	.no-ie-padding .ym-gr {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	* html .ym-cbox-left,
	* html .ym-cbox-right,
	* html .ym-cbox {
		-moz-word-wrap: break-word;
		-ms-word-wrap: break-word;
		-o-word-wrap: break-word;
		-webkit-word-wrap: break-word;
		word-wrap: break-word;
	}

	* html .ym-gbox,
	* html .ym-gbox-left,
	* html .ym-gbox-right {
		-moz-word-wrap: break-word;
		-ms-word-wrap: break-word;
		-o-word-wrap: break-word;
		-webkit-word-wrap: break-word;
		o\verflow: hidden;
		word-wrap: break-word;
	}

}

@media print {

	.ym-gbox,
	.ym-gbox-left,
	.ym-gbox-right,
	.ym-col3 {
		height: 1%;
	}

}

